.leaflet-container {
  width: 700px;
  height: 500px;
}

.machines-page {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  .details {
    margin: 10px;
    .title {
      display: flex;
      flex-direction: row;
    }
    .btn-mode {
      margin-left: 20px;
    }
    .details-container {
      margin-top: 15px;
    }
  }
}

.machine-list-pane {
  border-right: 1px solid lightskyblue;
  width: 200px;

  .list-item {
    margin: 10px;
    &:hover {
      background: lightskyblue;
      cursor: pointer;
    }
  }

  .selected {
    background: lightskyblue;
  }
}

.machine-details-pane {
  .header {
    display: flex;
    flex-direction: row;
  }
  .btn-add-note {
    margin-left: 20px;
  }
}

.note-modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  textarea {
    flex: 1;
    resize: none;
  }

  button {
    margin: 5px;
  }

  .modal-actions {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
