.leaflet-container {
  width: 700px;
  height: 500px;
}

.machines-page {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
}

.machine-list-pane {
  border-right: 1px solid lightskyblue;
  width: 200px;

  .list-item {
    margin: 10px;
    &:hover {
      background: lightskyblue;
      cursor: pointer;
    }
  }
}

.note-modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  textarea {
    flex: 1;
    resize: none;
  }

  button {
    margin: 5px;
  }

  .modal-actions {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
