.leaflet-container {
  width: 700px;
  height: 500px;
}

.machines-page {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
}

.machine-list-pane {
  border: 1px solid blue;
}
